article.container-main {
	width: 100%;
	height: max-content;
	padding: 12px;

	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;

	section {
		margin: 16px auto;
		width: 90%;
		display: flex;
	}
}

section.content-top {
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;

	h2 {
		text-align: center;
		word-spacing: 3px;
		font-size: 35px;
		font-weight: 400;

		span {
			color: #7582eb;
		}
	}
}

section.content {
	flex-direction: column;

	.cards-quadros {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
}
